<ion-view view-title="Cadastre-se" class = "cadastrar">
  <ion-content class="padding">
      <div class = "conteudo_cadastrar">

        	<div class="list">

          		<label class="item item-input item-stacked-label">
              		<span class="input-label">Nome</span>
              		<input type="text" placeholder="Nome" ng-model='cadastroUsuario.usuario.nome'>
				</label>
				
				<label class="item item-input item-stacked-label">
					<span class="input-label">Número cartão SUS</span>
					<input type="number" placeholder="Número cartão SUS" ng-model='cadastroUsuario.usuario.numero_cart_sus'>
				</label>

				<label class="item item-input item-stacked-label">
					<span class="input-label">Data Nascimento</span>
					<input type="date"  ng-model='cadastroUsuario.usuario.data_nascimento'>
				</label>
				
				<label class="item item-input item-select">
					<div class="input-label">
						Escolha o sexo
					</div>
					<select ng-model="cadastroUsuario.usuario.sexo">
						<option selected>Masculino</option>
						<option>Feminino</option>
					</select>
				</label>

          		<label class="item item-input item-stacked-label">
              		<span class="input-label">Usuário</span>
              		<input type="text" placeholder="Usuário" ng-model='cadastroUsuario.usuario.login'>
          		</label>

          		<label class="item item-input item-stacked-label">
					<span class="input-label">Senha</span>
              		<input type="password" placeholder="Senha" ng-model='cadastroUsuario.usuario.senha'>
          		</label>

          		<button  ng-click = "cadastroUsuario.cadastrar()" class="button button-block button-positive">
              		Criar conta
            	</button>
      		</div>
		</div>
  	</ion-content>
</ion-view>
