<ion-view view-title="Campanhas de vacinação">
  <ion-content class="campanha">
  <h2 class="titulo_campanha"> Calendário de Vacinação 2017</h2>
 <div class="responsive">
      <table class ="tabela_campanha">
        <tr>
          <th class="cabeçalho_campanha">Grupo</th>
          <th class="cabeçalho_campanha">Idade</th>
          <th class="cabeçalho_campanha">BCG</th>
          <th class="cabeçalho_campanha">Hepatite B</th>
          <th class="cabeçalho_campanha">Penta</th>
          <th class="cabeçalho_campanha">VIP e VOP</th>
          <th class="cabeçalho_campanha">Pneumo 10</th>
          <th class="cabeçalho_campanha">Rotavírus</th>
          <th class="cabeçalho_campanha">Meningo C</th>
          <th class="cabeçalho_campanha">Febre Amarela</th>
          <th class="cabeçalho_campanha">Triplice Viral</th>
          <th class="cabeçalho_campanha">Tetra Viral</th>
          <th class="cabeçalho_campanha">Hepatite A</th>
          <th class="cabeçalho_campanha">Dupla Adulto</th>
          <th class="cabeçalho_campanha">HPV</th>
          <th class="cabeçalho_campanha">dTpa</th>
        </tr>

        <tr class="criança">
          <td class="borda_lateral"></td>
          <td>Ao nascer</td>
          <td>1ª dose</td>
          <td>Dose ao nascer</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>

        <tr class="criança">
          <td class="sem_borda"></td>
          <td>2 meses</td>
          <td>-</td>
          <td>-</td>
          <td>1ª Dose</td>
          <td>1ª Dose(com VIP)</td>
          <td>2ª Dose</td>
          <td>2ª Dose</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>

        <tr class="criança">
          <td class="sem_borda"></td>
          <td>3 meses</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>1ª Dose</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>

        <tr class="criança">
          <td class="sem_borda"></td>
          <td>4 meses</td>
          <td>-</td>
          <td>-</td>
          <td>2ª Dose</td>
          <td>2ª Dose(Com VIP)</td>
          <td>2ª Dose</td>
          <td>2ª Dose</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>

        <tr class="criança">
          <td class="sem_borda">Criança</td>
          <td>5 meses</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>2ª Dose</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>

        <tr class="criança">
          <td class="sem_borda"></td>
          <td>6 meses</td>
          <td>-</td>
          <td>-</td>
          <td>3ª Dose</td>
          <td>3ª Dose(Com VIP)</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>

        <tr class="criança">
          <td class="sem_borda"></td>
          <td>9 meses</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>Dose Inicial</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>

        <tr class="criança">
          <td class="sem_borda"></td>
          <td>12 meses</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>Reforço</td>
          <td>-</td>
          <td>Reforço</td>
          <td>-</td>
          <td>1 Dose</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>

        <tr class="criança">
          <td class="sem_borda"></td>
          <td>15 meses</td>
          <td>-</td>
          <td>-</td>
          <td>1ª Reforço(Com DTP)</td>
          <td>- Reforço(Com VOP)</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>1 Dose</td>
          <td>1 Dose</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>

        <tr class="criança">
          <td class="borda_abaixo"></td>
          <td>4 anos</td>
          <td>-</td>
          <td>-</td>
          <td>2ª Reforço(Com DTP)</td>
          <td>- Reforço(Com VOP)</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>Reforço</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>

        <tr class="adolescente">
          <td>Adolescente</td>
          <td>10 a 19 anos</td>
          <td>-</td>
          <td>3 Doses (a depender da situação vacinal)</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>1 Dose (12 a 13 anos)</td>
          <td>1 Dose e 1 reforço (a depender da situação vacinal cadastrada)</td>
          <td>2 Doses (a depender da situação vacinal cadastrada)</td>
          <td>-</td>
          <td>-</td>
          <td>Reforço a cada 10 anos</td>
          <td>2 Doses (feminino 9 a 14 anos) (masculino 12 a 13 anos)</td>
          <td>-</td>
        </tr>

        <tr class="adulto">
          <td>Adulto</td>
          <td>20 a 59 anos</td>
          <td>-</td>
          <td>3 Doses (a depender da situação vacinal)</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>1 Dose e 1 reforço (a depender da situação vacinal cadastrada)</td>
          <td>1 Dose (até 49 anos - a depender da situação vacinal cadastrada)</td>
          <td>-</td>
          <td>-</td>
          <td>Reforço a cada 10 anos</td>
          <td>-</td>
          <td></td>
        </tr>

        <tr class="idoso">
          <td>Idoso</td>
          <td>60 anos ou mais</td>
          <td>-</td>
          <td>3 Doses (a depender da situação vacinal)</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>Avaliar o risco e o benefício da vacinação</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>Reforço a cada 10 anos</td>
          <td>-</td>
          <td>-</td>
        </tr>

        <tr class="gestante">
          <td>Gestante</td>
          <td></td>
          <td>-</td>
          <td>3 Doses (a depender da situação vacinal)</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>3 Doses (a depender da situação vacinal)</td>
          <td>-</td>
          <td>1 Dose</td>
        </tr>

      </table>
    </div>
  </ion-content>
</ion-view>
