<ion-tabs class="tabs-icon-top tabs-color-active-positive">


  <ion-tab title="Carteiras" icon-off="ion-ios-people" icon-on="ion-ios-people" href="#/tab/dependentes">
    <ion-nav-view name="tab-dependentes"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Calendário" icon-off="ion-calendar" icon-on="ion-calendar" href="#/tab/campanha">
    <ion-nav-view name="tab-campanha"></ion-nav-view>
  </ion-tab>
 
  <ion-tab title="Sair" icon-off="ion-log-out" icon-on="ion-log-out" href="#/tab/sair">
    <ion-nav-view name="tab-sair"></ion-nav-view>
  </ion-tab>

</ion-tabs>
